/*Text Editor*/
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: system-ui;
}
html, body { height: 100%; }
body{
    background-color: lightgray;
}
.btn{
    border: 0;
    margin: 2px;
    height: 40px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
input.btn{
    float: right;
}
.btn.btn-gray{
    background-color: darkgray;
}
.btn.btn-red{
    background-color: red;
}

/*Reservation and Contact Lists*/
table{
    width: 100%;
    table-layout: fixed;
}
td{
    width: 25%;
}
.row{
    background-color: lightgray;
    margin: 5px 0 5px 0;
    display: flex;
}
.cell{
    margin: 5px 5px 5px 5px;
    flex-grow: 1;
    text-align: left;
}
.cell-btns{
    float: right;
}