<app-page-header title="Reservation List" goToUrl="/reservations/create" goToLabel="Create Reservation"></app-page-header>

<table>
    <tbody>
        <app-reservation-item *ngFor="let reservation of reservations 
        | paginate: { itemsPerPage: 8, currentPage: currentPage }" [reservation]="reservation"></app-reservation-item>
    </tbody>
</table>

<p *ngIf="reservations.length==0">Reservations list is empty</p>

<pagination-controls class="app-pagination" (pageChange)="currentPage = $event" previousLabel="" nextLabel="">
</pagination-controls>