/*Pagination*/
.app-pagination /deep/ .ngx-pagination li {
    background: rgb(173, 168, 168);
    border-radius: 4px;
}
.app-pagination /deep/ .ngx-pagination .current {
    background: rgb(88, 83, 83);
}