#contact-inputs{
    margin: 5px 0 5px 0;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
#contact-inputs input,
#contact-inputs select
{
    padding: 5px;
    width: 100%;
}
#contact-inputs input[type=date]
{
    padding: 4px;
}

#search-contact /deep/ .mat-spinner circle {
    stroke: blue;
}
#search-contact{
    display: flex;
}

@media (max-width:480px) {
    #contact-inputs{
        flex-direction: column;
    }

    #contact-inputs>*{
        padding: 5px 0 5px 0;
        margin: 5px 0 5px 0;
    }
}