<div id="banner">
    <div id="banner-container" class="container">
        <div id="company-name" routerLink="/"><p><strong>ISU</strong>Corp</p></div>
        <div id="company-description">
            <p routerLink="/">World Class</p>
            <p routerLink="/">Software Development</p>
        </div>
        <div id="banner-nav">            
            <p *ngIf="url!='/'&&url!='/reservations'" routerLink="/reservations">Reservation List</p>
            <p *ngIf="url=='/reservations'" routerLink="/reservations/create">Create Reservation</p>
            <p *ngIf="url!='/contacts'" routerLink="/contacts">Contact List</p>
            <p *ngIf="url=='/contacts'" routerLink="/contacts/create">Create Contact</p>
        </div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>