<div id="banner">
    <div id="banner-container" class="container">
        <div id="company-name"><p><strong>ISU</strong>Corp</p></div>
        <div id="company-description">
            <p>World Class</p>
            <p>Software Development</p>
        </div>
        <div id="banner-nav">
            <p routerLink="/reservations">Reservations</p>
            <p routerLink="/contacts">Contacts</p>
        </div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>