<tr class="row">
    <td class="cell">
        <strong>{{reservation.contact.name}}</strong>
        <p>{{reservation.date|date:'EEEE, MMMM d, y a'}}</p>
    </td>
    <td class="cell ranking">
        <strong>Ranking</strong>
        <p>{{reservation.ranking}}</p>
        <!-- <ngx-material-rating [color]="rating.color" [dense]="true" 
        [(ngModel)]="reservation.ranking" [max]="rating.max">
        </ngx-material-rating> -->
    </td>
    <td class="cell favorite">
        <strong>Favorite</strong>
        <p class="favorite-icon">{{reservation.favorite}}</p>
    </td>
    <td class="cell">
        <div class="cell-btns">
            <button class="btn btn-gray" [routerLink]="['../reservations/edit',reservation.id]">{{'Edit'|uppercase}}</button>
        </div>
    </td>
</tr>